
body{
    
    background-color: rgb(48, 48 , 48);
    align-items: center;
    color: rgb(239, 235, 228);
    font-family: verdana;

}

header{
    color: rgb(239, 235, 228);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33vw;
    margin-top: 20px;
}

header img{
    width: 60px;
    height: 30px;
   /* border: 1px solid rgb(235, 51, 51);  */
  
}